{% extends 'template_dashboard.html' %}

{% block css %}
    
    
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %} 

<form method='post' action="{% url 'member:changepassword'  %}">
  <div class="form-row">
    <div class="col-md-8 mb-6">
      <label for="validationTooltip01">Current Password</label>
      <input type="password" name='password' class="form-control"  placeholder="Enter Current Password"  required>
    </div>
    <div class="col-md-8 mb-6">
      <label for="validationTooltip02">New Password</label>
      <input type="password" name='new_password' id='new_password' class="form-control" placeholder="Enter New Password"  required>
    </div>
    <div class="col-md-8 mb-6">
      <label for="validationTooltip01">Confirm New Password</label>
      <input type="password" name='confirm_password' id='confirm_password' class="form-control" placeholder="Enter New Password"  required>
    </div>
  </div>
  <br/>
  
  <div class="form-row">
    <input class="btn btn-primary" type="submit" value='Update'>&nbsp;&nbsp;
    {% csrf_token %}
    <a class="btn btn-info"  href="{% url 'dashboard:index' %}">Back</a>
  </div>
</form>

{% endblock %}

{% block javascript %}

<script>

    var password = document.getElementById("new_password"), confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
    if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
        confirm_password.setCustomValidity('');
    }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    //return true;


</script>

{% endblock %}