{% extends 'template_dashboard.html' %}
{% block css %}
{% load humanize %}

<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block content %} 


          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">List Report </h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="customer_table" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Tid</th>
                      <th>Message</th>
                      <th>edit User</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    
                  </thead>
                  <tfoot>
                      <tr>
                      <th>id</th>
                      <th>Tid</th>
                      <th>Message</th>
                      <th>edit User</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    
                  </tfoot>
                  <tbody>
                    {% for user in list_user %}
                    <tr>
                      <td style="width: 5%;">
                    
                      {{ user.id }}</td>

                      <td align='right' style="width: 10%;">{{ user.pantip_id }} </td>
                      <td align='right'>{{ user.report_data }}</td>
                      <td align='right'>{{ user.edit_user }}</td>

                      <td align='right' style="width: 10%;">
                      {{user.status}}
                        </td>
                      
                    <td style="width: 20%;">
                       
                        <a href="{% url 'error:editReport' user.id user.pantip_id %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'error:delete_report' user.id %}" class="btn btn-danger">Delete</a>
                      </th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        

{% endblock %}

{% block javascript %}
<!-- Page level plugins -->
  <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% block javascript_ready %}
  $('#customer_table').DataTable();
{% endblock %}